# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Customize
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/webpage-html-export/data.json
.obsidian/workspace.json
